body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-bottom: 40px;
  padding-top: 20px;
  color: #5e9424;
}

.embeddedVideo {
  margin: 30px;
}

.search-bar {
  margin-bottom: 40px;
}

.video-item {
  margin: 20px;
}

.ui.cards > .childCard {
  margin-right: 20px;
  margin-left: 20px;
  width: 200px;
}
